body {
  background: url(./assets/watercolor_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 2%;
  font-family: "Inter", sans-serif;
}

.all_links {
  height: 62vh;
}

.link {
  width: 40vw;
  height: 7vh;
  margin: 2em auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: #d3e7db;
  border-radius: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.link > div > img {
  height: 50px;
  width: 50px;
  margin: auto;
}
.link > div:first-child {
  width: 40%;
}
.link > div:last-child {
  padding-top: 4%;
  width: 40%;
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .link {
    width: 80vw;
  }
  .link > div > img {
    height: 40px;
    width: 40px;
    margin-top: 2%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .link > div > img {
    margin-top: 4%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .link > div > img {
    height: 60px;
    width: 60px;
    margin-top: 0.1em;
  }
}
